body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #eee;
  text-align: center;
  padding: 20px;
}

header img {
  width: 100%;
  height: auto;
}

header h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

nav {
  background-color: #ccc;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  /* display: inline; */
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  background-color: #dfdfdf;
  border-right: 1px solid white;
  display: block;
}

nav ul li a:hover {
  background-color: #bbbbbb;
  color: white;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.content {
  width: 70%;
}

aside {
  width: 25%;
}

article {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article h2 {
  color: #669900;
}

.products h2 {
  color: #669900;
}

.products {
  margin-top: 20px;
}

.products .product {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.products .product img {
  margin-right: 10px;
}

.products .product div {
  flex: 1;
}

aside .news,
aside .messages {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside .news ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside .news ul li {
  margin-bottom: 10px;
}

aside .news ul li a,
aside .messages a {
  text-decoration: none;
  color: #669900;
}

footer {
  background-color: #669900;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}
